---
layout: default
title: Home
---

{% if page.url == "/" %}

<!-- Algolia HTML
================================================== -->
<div class="all-posts">
    <!-- <div class="section-title">
        <h2><span>All Blogs:</span></h2>
    </div> -->
    <div class="post-list" id="search-hits">
    </div>
</div>
{% include algolia.html %}

<!-- Algolia HTML
================================================== -->
<div class="searchwithgoogle">
    <div class="section-title">
        <h2><span>Explore from Google:</span></h2>
    </div>
    {% include google-search.html %}
    <gcse:search></gcse:search>
</div>

{% endif %}